# Ignore Play! working directory #
*DS_Store*
bin/
/db
.eclipse
/logs/
/modules
project/.bloop
project/metals.sbt
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.iml
*.eml
/dist/
.cache
logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
.*.sw*
/commits
*sqlite*
*.db
*.log*
create
*h2.db*
tools*
gh-pages
*.sc
*.deb
init.sh
.vscode/
tags
*.scala~Stashed.*changes
.bloop
.metals
.bsp
.gradle/