<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <logger name="io.netty" level="WARN"/>
    <logger name="io.grpc" level="WARN"/>
    <logger name="net.jodah" level="WARN"/>
    <logger name="akka.stream.alpakka.amqp" level="WARN"/>

    <appender name="READABLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%level | %logger | %d{yyyy-MM-dd} | %d{HH:mm:ss.SSS}] - %message%n%xException{30}</pattern>
        </encoder>
    </appender>

    <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <mdc/>
                <pattern>
                    <pattern>
                        {
                        "app":"akka-http-basics",
                        "level": "%level",
                        "logger": "%logger",
                        "message": "%message",
                        "timestamp": "%date{\"yyyy-MM-dd'T'HH:mm:ss.SSSXXX\", UTC}"
                        }
                    </pattern>
                </pattern>
                <stackTrace>
                    <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                        <maxDepthPerThrowable>30</maxDepthPerThrowable>
                        <maxLength>2048</maxLength>
                        <rootCauseFirst>true</rootCauseFirst>
                    </throwableConverter>
                </stackTrace>
            </providers>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="READABLE"/>
    </root>
</configuration>